<%- include('partials/header') %>

<div class="dashcontainer">
  <div class="emptySide"></div>
  <div class="mainSide">
    <div class="errorNotification">
      <% if (loginOK == false) { %> <%= errors %> <% } %>
    </div>
    <form action="/signin" method="POST">
      <label for="installerID">Installer ID:</label><br />
      <input
        class="standard_field"
        type="number"
        id="installerID"
        name="installerID"
        required /><br />
      <label for="pword">Password:</label><br />
      <input
        class="standard_field"
        type="password"
        id="pword"
        name="pword"
        required /><br /><br />
      <input type="submit" class="standard_btn" value="Sign in" />
      <input type="reset" class="standard_btn" />
    </form>
  </div>
</div>

<%- include('partials/footer') %>
